<div class='text-center'>
<form id='addInterest'>
  <label>A New Interest:</label><br><input id='interest_body' name='activity[body]'><br>
  <label>Social:</label> <input type="radio" id='social_cat' name="activity[cateogry_id]" value="1">
  <label>Health:</label> <input type="radio" id='health_cat' name="activity[cateogry_id]" value="2">
  <label>Intellect:</label> <input type="radio" id='intellect_cat' name="activity[cateogry_id]" value="3"><br>
  <button name='button' class='btn btn-success'>Save</button>
</form>
</div>