<div class='text-center' id='addActivityForm'>
  <br>
<form id='addActivity'>
  <label>A New Activity:</label><br><input id='activity_body' name='activity'><br>
  <label>Social:</label> <input type="radio" id='social_cat' name="activity" value="1">
  <label>Health:</label> <input type="radio" id='health_cat' name="activity" value="2">
  <label>Intellect:</label> <input type="radio" id='intellect_cat' name="activity" value="3"><br>
  <button name='button' class='btn btn-success'>Save</button>
</form>
</div>

