<div>
<form id='addActivity'>
  <input id='activity_body' name='activity[body'>
</form>

</div>

<div id='activities'>
</div>


<div id='chartContainer' style="height: 300px; width: 100%;">

</div>

<div>
  Health: <%= @idealchart.health_score %><br>
  Social: <%= @idealchart.social_score %><br>
  Intellect: <%= @idealchart.intellect_score %>
</div>