<div>
<form id='addActivity'>
  <input id='activity_body' name='activity[body'>
</form>

</div>

<div id='activities'>
</div>


<div id='idealChartContainer' style="height: 300px; width: 100%;">

</div>


<div>
  <form id='updateIdeal'>
    <label>Health:</label> <input id='health' name='ideal_chart[health_score]' value='<%= @idealchart.health_score %>'>
    <label>Social: </label> <input id='social' name='ideal_chart[social_score]' value='<%= @idealchart.social_score %>'>
    <label>Intellect: </label> <input id='intellect' name='ideal_chart[intelllect_score]' value='<%= @idealchart.intellect_score %>'>
    <button name='button'>Update</button>
  </form>

</div>