<div id='idealChartContainer' style="height: 300px; width: 100%;">

</div>


<div>
  <form id='updateIdeal'>
    <label>Health:</label> <input id='health' name='ideal_chart[health_score]' value='<%= @idealchart.health_score %>'>
    <label>Social: </label> <input id='social' name='ideal_chart[social_score]' value='<%= @idealchart.social_score %>'>
    <label>Intellect: </label> <input id='intellect' name='ideal_chart[intelllect_score]' value='<%= @idealchart.intellect_score %>'>
    <button name='button'>Update</button>
  </form>

</div>


<div>
<form id='addActivity'>
  <label>A new interest:</label> <input id='activity_body' name='activity[body'><br>
  <label>Social:</label> <input type="checkbox" id='social' name="activity[cateogry_id]" value="1">
  <label>Health:</label> <input type="checkbox" id='health' name="activity[cateogry_id]" value="2">
  <label>Intellect:</label> <input type="checkbox" id='intellect' name="activity[cateogry_id]" value="3"><br>
  <button name='button'>Save</button>
</form>

</div>

