/*// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
.div-login {
  background-color: rgba(21,117,255,0.75);
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
}

.h2-sign {
  color: rgba(255,255,255,1);
  font-size: 28px;
}

.login-signup {
  color: rgba(255,255,255,1);
}